<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Task Control</span>
    <span class="span--spacer"></span>
    <button mat-button>Profile</button>
    <button mat-button (click)="signOut()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<div class="lists">
  <ng-container *ngFor="let list of lists$ | async">
    <app-card class="mat-card--local" [list]="list"></app-card>
  </ng-container>
</div>
<div class="btn-add-list">
  <button mat-fab (click)="openDialog()">
    <mat-icon aria-label="icon-button add">add</mat-icon>
  </button>
</div>
